





/*----- big tablet--------*/

@media only screen and (max-width: 1200px)
{
.hero-text-box
{
	width: 100%;
	padding: 0 2%;
}
.row
{
	padding: 0 2%;
}

}




/*----- small tablet to big tablet--------*/
@media only screen and (max-width: 1023px)
{
    body {font-size: 18px;}
    section{padding: 60px 0;}
    .long-copy
    {
    	width: 80%;
    	margin-left: 10%;
    }

    .step-box
    {
    	margin-top: 10px;
    }
    .steps-box:last-child
    {
    	margin-top: 10px;
    }
    .work-steps
    {
    	margin-bottom: 40px;
    }
    .work-steps:last-of-type
    {
        margin-bottom: 60px;
    }
    .app-screen
    {
    	width: 50%;
    }
}

/*----- small pohone to samll tablet--------*/
@media only screen and (max-width: 767px)
{

}

/*----- small pohone from 0 to 480px--------*/
@media only screen and (max-width: 480px)
{

}












